table, th, td {
    border: 1px solid;
}

.button{
    margin-top: 20px;
    margin-bottom: 25px;
}

.labeltekst{
    text-align: left;
}

.hide {
    display: none;
}

.delbut:hover + .hide {
    display: block;
    color: red;
}

.product-img {
    width: 70%;
}
